In [16]:
import pandas as pd
import yfinance as yf
import pandas_ta as ta

from datetime import datetime, date

In [2]:
def grab_symbols():
    # Grab S&P Symbols from Wikipedia or local HTML File
    # wiki_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
    # wiki_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies#S&P_500_component_stocks'
    tickers = pd.read_html('./tickers.html')[0]
    tickers = tickers.Symbol.to_list()
    tickers = [i.replace('.','-') for i in tickers]
    return tickers 

print('Grab symbols function defined...')

Grab symbols function defined...

In [3]:
def yahoo_prices(tickers, current_day):
    # Return a DataFrame with dates, symbols and prices
    if not isinstance(tickers,list):
        return None

    years_back = 5
    end_dt = datetime.strptime(current_day, '%Y-%m-%d').date()
    start_dt = date(end_dt.year - years_back, end_dt.month, end_dt.day)

    data = yf.download(tickers, start=start_dt, end=end_dt)
    data = data.loc[(slice(None)),(slice(None),slice(None))].copy()
    data = data.stack()
    data = data.reset_index()
    data.rename(columns={'level_1': 'Symbol'}, inplace=True)
    data.set_index('Date', inplace=True)
    return data

print('Yahoo_prices function defined...')

Yahoo_prices function defined...

In [21]:
def detect_engulfing(df):
    df['Engulfing'] = False
    # engulfing pattern
    return df 

print('detect_engulfing function defined')

detect_engulfing function defined

In [8]:
my_symbols = grab_symbols()
tsla = my_symbols.index('TSLA')
(tsla, my_symbols[tsla])

(445, 'TSLA')

In [12]:
data = yahoo_prices(my_symbols[440:450], '2023-02-14')

[*********************100%***********************]  10 of 10 completed

In [22]:
tsla_df = data.loc[data.Symbol == 'TSLA'].copy()
tsla_df = detect_engulfing(tsla_df)
tsla_df

,Symbol,Adj Close,Close,High,Low,Open,Volume,Engulfing
Date,,,,,,,,
2018-02-14,TSLA,21.487333,21.487333,21.744667,21.234667,21.389334,59260500,False
2018-02-15,TSLA,22.271334,22.271334,22.274668,21.493334,21.633333,88693500,False
2018-02-16,TSLA,22.365999,22.365999,22.874666,22.109333,22.166668,84639000,False
2018-02-20,TSLA,22.318001,22.318001,22.722668,22.100000,22.298000,60141000,False
2018-02-21,TSLA,22.219999,22.219999,22.646000,22.211332,22.402000,48294000,False
...,...,...,...,...,...,...,...,...
2023-02-07,TSLA,196.809998,196.809998,197.500000,189.550003,196.429993,186010300,False
2023-02-08,TSLA,201.289993,201.289993,203.000000,194.309998,196.100006,180673600,False
2023-02-09,TSLA,207.320007,207.320007,214.000000,204.770004,207.779999,215431400,False
2023-02-10,TSLA,196.889999,196.889999,206.199997,192.889999,202.229996,204193800,False
2023-02-13,TSLA,194.639999,194.639999,196.300003,187.610001,194.419998,172475500,False