In [1]:
import pandas as pd
import yfinance as yf

from datetime import datetime, date

In [2]:
def grab_symbols():
    # Grab S&P Symbols from Wikipedia or local HTML File
    # wiki_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
    # wiki_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies#S&P_500_component_stocks'
    tickers = pd.read_html('./tickers.html')[0]
    tickers = tickers.Symbol.to_list()
    tickers = [i.replace('.','-') for i in tickers]
    return tickers 

print('Grab symbols function defined...')

Grab symbols function defined...

In [3]:
def yahoo_prices(tickers, current_day):
    # Return a DataFrame with dates, symbols and prices
    if not isinstance(tickers,list):
        return None

    years_back = 5
    end_dt = datetime.strptime(current_day, '%Y-%m-%d').date()
    start_dt = date(end_dt.year - years_back, end_dt.month, end_dt.day)

    data = yf.download(tickers, start=start_dt, end=end_dt)
    data = data.loc[(slice(None)),(slice(None),slice(None))].copy()
    data = data.stack()
    data = data.reset_index()
    data.rename(columns={'level_1': 'Symbol'}, inplace=True)
    data.set_index('Date', inplace=True)
    return data

print('Yahoo_prices function defined...')

Yahoo_prices function defined...

In [14]:
def detect_engulfing(df):
    cond_1 = df.shift(1).Close < df.shift(1).Open
    cond_2 = df.Close > df.Open
    cond_3 = df.Open < df.shift(1).Close
    cond_4 = df.Close > df.shift(1).Open
    df['Engulfing'] = cond_1 & cond_2 & cond_3 & cond_4
    return df 

print('detect_engulfing function defined')

detect_engulfing function defined

In [22]:
def trades(data, cash=10000, cash_percentage=0.15, max_hold_days=20, stop_percentage=0.90, target_percentage=1.30):
    #cash = 10000
    #cash_percentage = 0.15
    #max_hold_days = 20
    #stop_percentage = 0.90
    #target_percentage = 1.30
    in_position = False
    trade_id = 0
    cumul_profit = 0
    all_trades = []
    for index, row in data[:].iterrows():
        if not in_position and row.Buy:
            buy_date        = index
            buy_price       = row.Open
            stop_loss       = buy_price * stop_percentage
            target_price    = buy_price * target_percentage
            amount_invested = cash * cash_percentage
            shares          = int(amount_invested / buy_price)
            buy_amount      = shares * buy_price
            cash            -= buy_amount
            in_position = True
            sell_action = False
            trade = [trade_id, buy_date, buy_price, stop_loss, target_price, amount_invested, shares, buy_amount]
            #print(f'{buy_date} -- BUY___[ {shares} * ${row.Open:0.2f} = ${buy_amount:.2f}] [ ${stop_loss:0.2f}, ${target_price:0.2f} ]')
        if in_position:
            if row.Low < stop_loss:
                sell_price  = row.Low
                sell_action = True
                sell_type   = 'Stop__'
            if row.High > target_price:
                sell_price = row.High
                sell_action = True
                sell_type   = 'Target'
            time_in_position = index - buy_date
            if time_in_position.days >= max_hold_days:
                sell_price = row.Close
                sell_action = True
                sell_type   = 'Close_'

            if sell_action:
                sell_date   = index
                sold_amount = shares * sell_price
                cash += sold_amount
                profit = sold_amount - buy_amount
                #print(f'{sell_date} -- {sell_type}[ {shares} * ${row.Low:0.2f} = ${sell_amount:0.2f}] [Profit: {profit:0.2f} ]')
                in_position = False
                sell_action = False
                sell_info = [sell_date, sell_price, shares, sold_amount, sell_type, profit, cash]
                trade.extend(sell_info)
                cumul_profit += profit
                trade_id += 1
                all_trades.append(trade)

    return all_trades

    print('trades function defined')

In [6]:
my_symbols = grab_symbols()
tsla = my_symbols.index('TSLA')
(tsla, my_symbols[tsla])

(445, 'TSLA')

In [7]:
data = yahoo_prices(my_symbols[440:450], '2023-02-14')

[*********************100%***********************]  10 of 10 completed

In [8]:
tsla_df = data.loc[data.Symbol == 'TSLA'].copy()
tsla_df = detect_engulfing(tsla_df)
tsla_df.loc[tsla_df.Engulfing == True]
tsla_df['Buy'] = tsla_df.shift(1).Engulfing
tsla_df.loc[tsla_df.Engulfing | tsla_df.Buy]

,Symbol,Adj Close,Close,High,Low,Open,Volume,Engulfing,Buy
Date,,,,,,,,,
2018-03-21 00:00:00-04:00,TSLA,21.101999,21.101999,21.496000,20.679333,20.683332,89376000,True,False
2018-03-22 00:00:00-04:00,TSLA,20.606667,20.606667,21.254667,20.545334,20.926001,74097000,False,True
2018-03-29 00:00:00-04:00,TSLA,17.742001,17.742001,18.063999,16.547333,17.099333,227560500,True,False
2018-04-02 00:00:00-04:00,TSLA,16.832001,16.832001,17.355333,16.306000,17.084000,241710000,False,True
2018-04-04 00:00:00-04:00,TSLA,19.129333,19.129333,19.224667,16.799999,16.851999,298450500,True,False
...,...,...,...,...,...,...,...,...,...
2022-07-14 00:00:00-04:00,TSLA,238.313339,238.313339,238.653336,229.333328,234.896667,78557400,False,True
2022-10-21 00:00:00-04:00,TSLA,214.440002,214.440002,214.660004,203.800003,206.419998,75713800,True,False
2022-10-24 00:00:00-04:00,TSLA,211.250000,211.250000,213.500000,198.589996,205.820007,100446800,False,True
2023-01-06 00:00:00-05:00,TSLA,113.059998,113.059998,114.389999,101.809998,103.000000,220575900,True,False
2023-01-09 00:00:00-05:00,TSLA,119.769997,119.769997,123.519997,117.110001,118.959999,190284000,False,True

In [24]:
trade_log = trades(tsla_df, cash=10000, cash_percentage=0.5, max_hold_days=5, stop_percentage=0.90, target_percentage=1.30)
trades_df = pd.DataFrame(trade_log)
trades_df.columns = ['trade_id', 'buy_date', 'buy_price', 'stop_loss', 'target_price', 'amount_invested', 'shares', 'buy_amount', 'sell_date', 'sell_price', 'shares', 'sell_amount', 'sell_type', 'profit', 'cash']
print(f'{trades_df.profit.sum():0.2f}')
trades_df

1146.34

,trade_id,buy_date,buy_price,stop_loss,target_price,amount_invested,shares,buy_amount,sell_date,sell_price,shares,sell_amount,sell_type,profit,cash
0,0,2018-02-14 00:00:00-05:00,21.389334,19.250400,27.806134,5000.000000,233,4983.714758,2018-02-20 00:00:00-05:00,22.318001,233,5200.094185,Close_,216.379427,10200.094185
1,1,2018-03-22 00:00:00-04:00,20.926001,18.833401,27.203801,5100.047092,243,5085.018145,2018-03-27 00:00:00-04:00,18.612000,243,4522.715881,Close_,-562.302263,9622.762974
2,2,2018-04-02 00:00:00-04:00,17.084000,15.375600,22.209200,4811.381487,281,4800.603897,2018-04-09 00:00:00-04:00,19.310667,281,5426.297438,Close_,625.693541,10237.678925
3,3,2018-04-27 00:00:00-04:00,19.024668,17.122201,24.732068,5118.839462,269,5117.635622,2018-05-02 00:00:00-04:00,20.076668,269,5400.623634,Close_,282.988012,10519.463097
4,4,2018-05-17 00:00:00-04:00,19.059999,17.154000,24.777999,5259.731548,275,5241.499853,2018-05-22 00:00:00-04:00,18.334000,275,5041.849899,Close_,-199.649954,10301.581448
5,5,2018-05-29 00:00:00-04:00,18.567333,16.710600,24.137533,5150.790724,277,5143.151302,2018-06-04 00:00:00-04:00,19.782667,277,5479.798803,Close_,336.647501,10630.589527
6,6,2018-07-18 00:00:00-04:00,21.666668,19.500001,28.166668,5315.294764,245,5308.333645,2018-07-23 00:00:00-04:00,20.213333,245,4952.266617,Close_,-356.067028,10267.561380
7,7,2018-07-26 00:00:00-04:00,20.323334,18.291000,26.420334,5133.780690,252,5121.480103,2018-07-31 00:00:00-04:00,19.875999,252,5008.751862,Close_,-112.728241,10142.532552
8,8,2018-09-20 00:00:00-04:00,20.237333,18.213600,26.308533,5071.266276,250,5059.333324,2018-09-25 00:00:00-04:00,20.066000,250,5016.499996,Close_,-42.833328,10087.766272
9,9,2018-10-29 00:00:00-04:00,22.497999,20.248199,29.247399,5043.883136,224,5039.551819,2018-11-05 00:00:00-05:00,22.760000,224,5098.240051,Close_,58.688232,10142.123187
10,10,2018-11-27 00:00:00-05:00,22.670000,20.403000,29.471000,5071.061594,223,5055.410017,2018-12-03 00:00:00-05:00,23.899332,223,5329.551046,Close_,274.141029,10400.612640
11,11,2019-02-06 00:00:00-05:00,21.306000,19.175400,27.697800,5200.306320,244,5198.663940,2019-02-11 00:00:00-05:00,20.856001,244,5088.864220,Close_,-109.799721,10289.170540
12,12,2019-04-17 00:00:00-04:00,18.316668,16.485001,23.811668,5144.585270,280,5128.666916,2019-04-22 00:00:00-04:00,17.516666,280,4904.666595,Close_,-224.000320,10049.251865
13,13,2019-05-06 00:00:00-04:00,16.667999,15.001199,21.668399,5024.625933,301,5017.067780,2019-05-13 00:00:00-04:00,15.134000,301,4555.333947,Close_,-461.733832,9579.959880
14,14,2019-08-08 00:00:00-04:00,15.630000,14.067000,20.319000,4789.979940,306,4782.780035,2019-08-13 00:00:00-04:00,15.666667,306,4794.000097,Close_,11.220062,9583.980037
15,15,2019-08-14 00:00:00-04:00,15.414000,13.872600,20.038199,4791.990019,310,4778.339863,2019-08-19 00:00:00-04:00,15.122000,310,4687.819920,Close_,-90.519943,9479.809938
16,16,2019-10-08 00:00:00-04:00,15.724667,14.152200,20.442067,4739.904969,301,4733.124645,2019-10-14 00:00:00-04:00,17.130667,301,5156.330687,Close_,423.206041,9896.235656
17,17,2019-12-03 00:00:00-05:00,22.174667,19.957201,28.827068,4948.117828,223,4944.950821,2019-12-09 00:00:00-05:00,22.635332,223,5047.679060,Close_,102.728239,9995.796888
18,18,2020-01-24 00:00:00-05:00,38.042000,34.237800,49.454600,4997.898444,131,4983.501976,2020-01-29 00:00:00-05:00,38.732666,131,5073.979248,Close_,90.477272,10071.877692
19,19,2020-02-14 00:00:00-05:00,52.481335,47.233201,68.225735,5035.938846,95,4985.726795,2020-02-19 00:00:00-05:00,61.161331,95,5810.326462,Close_,824.599667,10846.265308
20,20,2020-04-01 00:00:00-04:00,33.599998,30.239999,43.679998,5423.132654,161,5409.599754,2020-04-02 00:00:00-04:00,29.760000,161,4791.360037,Stop__,-618.239717,10214.492691
21,21,2020-04-17 00:00:00-04:00,51.485332,46.336799,66.930932,5107.246345,99,5097.047916,2020-04-21 00:00:00-04:00,44.919334,99,4447.014107,Stop__,-650.033810,9554.260452
22,22,2020-05-05 00:00:00-04:00,52.652668,47.387401,68.448468,4777.130226,90,4738.740120,2020-05-11 00:00:00-04:00,54.085999,90,4867.739868,Close_,128.999748,9644.870094
23,23,2020-06-16 00:00:00-04:00,67.456665,60.710999,87.693665,4822.435047,71,4789.423218,2020-06-22 00:00:00-04:00,66.288002,71,4706.448143,Close_,-82.975075,9528.883190
24,24,2020-09-08 00:00:00-04:00,118.666664,106.799998,154.266663,4764.441595,40,4746.666565,2020-09-14 00:00:00-04:00,139.873337,40,5594.933472,Close_,848.266907,10359.375067
25,25,2021-02-16 00:00:00-05:00,272.666656,245.399991,354.466653,5179.687533,18,4907.999817,2021-02-22 00:00:00-05:00,238.166672,18,4287.000092,Close_,-620.999725,9466.687625
26,26,2021-03-31 00:00:00-04:00,215.539993,193.985994,280.201991,4733.343812,21,4526.339859,2021-04-05 00:00:00-04:00,230.350006,21,4837.350128,Close_,311.010269,9570.693941
27,27,2021-05-03 00:00:00-04:00,234.600006,211.140005,304.980008,4785.346970,20,4692.000122,2021-05-10 00:00:00-04:00,209.679993,20,4193.599854,Close_,-498.400269,8978.946824
28,28,2021-08-13 00:00:00-04:00,241.236664,217.112997,313.607663,4489.473412,18,4342.259949,2021-08-17 00:00:00-04:00,216.279999,18,3893.039978,Stop__,-449.219971,8382.513390
29,29,2021-08-26 00:00:00-04:00,236.103333,212.492999,306.934332,4191.256695,17,4013.756653,2021-08-31 00:00:00-04:00,245.240005,17,4169.080093,Close_,155.323441,8360.336788
30,30,2021-09-27 00:00:00-04:00,257.706665,231.935999,335.018665,4180.168394,16,4123.306641,2021-10-04 00:00:00-04:00,260.510010,16,4168.160156,Close_,44.853516,8348.328550
31,31,2021-11-17 00:00:00-05:00,354.503326,319.052994,460.854324,4174.164275,11,3899.536591,2021-11-22 00:00:00-05:00,385.623322,11,4241.856537,Close_,342.319946,8416.020812
32,32,2022-04-14 00:00:00-04:00,333.096680,299.787012,433.025684,4208.010406,12,3997.160156,2022-04-19 00:00:00-04:00,342.716675,12,4112.600098,Close_,115.439941,8320.610504
33,33,2022-05-03 00:00:00-04:00,301.059998,270.953998,391.377997,4160.305252,13,3913.779968,2022-05-09 00:00:00-04:00,262.369995,13,3410.809937,Close_,-502.970032,7571.115188
34,34,2022-05-26 00:00:00-04:00,220.473328,198.425995,286.615326,3785.557594,17,3748.046570,2022-05-31 00:00:00-04:00,252.753326,17,4296.806549,Close_,548.759979,8082.364143
35,35,2022-06-03 00:00:00-04:00,243.226669,218.904002,316.194670,4041.182072,16,3891.626709,2022-06-08 00:00:00-04:00,241.866669,16,3869.866699,Close_,-21.760010,7911.048771
36,36,2022-07-14 00:00:00-04:00,234.896667,211.407001,305.365668,3955.524385,16,3758.346680,2022-07-19 00:00:00-04:00,245.529999,16,3928.479980,Close_,170.133301,7884.004366
37,37,2022-10-24 00:00:00-04:00,205.820007,185.238007,267.566010,3942.002183,19,3910.580139,2022-10-31 00:00:00-04:00,227.539993,19,4323.259872,Close_,412.679733,8265.262055
38,38,2023-01-09 00:00:00-05:00,118.959999,107.063999,154.647999,4132.631028,34,4044.639969,2023-01-17 00:00:00-05:00,131.490005,34,4470.660187,Close_,426.020218,8603.291214